@keyframes pop {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-110px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fish {
    position: absolute;
    display: block;
    bottom: 0;
    left: var(--position);
    opacity: 0;
    animation: pop 1.3s ease-in-out;
}

.fish>div {
    content: url("../../media/img/1/love.png");
    border: 0;
    width: 50px;
}